.contentLayer {
    position: absolute;
    inset: 0;
    /* 内容层在最上方,可以遮挡边框和装饰 */
    z-index: 30;
}

.contentLayer .content {
    position: absolute;
    /*background: skyblue;*/
    width: 383px;
    height: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.contentLayer .content h2 {
    margin-bottom: 10px;
    font-family: "Source Han Serif CN", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 1px;
    /*background: darkgrey;*/
}

.contentLayer .content .cutOffLine {
    margin-bottom: 10px;
    width: 60px;
    height: 3px;
    background: var(--border);
    clip-path: polygon(
        6px 0,
        60px 0,
        54px 3px,
        0 3px
    );
}

.contentLayer .content p {
    width: 100%;
    height: 154px;
    /*background: blueviolet;*/
    font-family: "Source Han Serif CN", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
}

.contentLayer .buttonWrap {
    display: inline-block;
    position: absolute;
    left: calc(var(--btn-center-x) - var(--btn-width) / 2);
    bottom: 0;
    transition: 0.2s;
}

.contentLayer .buttonWrap:hover {
    filter: drop-shadow(0 0 20px #5BDCFF);
}

.contentLayer .bottomButton {
    width: var(--btn-width);
    outline: none;
    border: none;
    height: 32px;
    pointer-events: auto;
    background-image: linear-gradient(to right, #21AAFF, #2CFBFF);
    color: #ffffff;
    clip-path: polygon(
        0 16px,
        13px 0,
        132px 0,
        145px 16px,
        132px 32px,
        13px 32px,
        0 16px
    );
    font-size: 16px;
    font-style: normal;
    font-family: "PingFang SC", serif;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.contentLayer .bottomButton:hover {
    cursor: pointer;
}