/* 内容 (占位用, 后面再做step2) */
.contentLayer .content {
    position: absolute;
    left: 30px;
    right: 12px;
    top: 40px;
    bottom: 12px;
    color: rgba(255,255,255,0.65);
    font-size: 12px;
    line-height: 1.5;
    pointer-events: none;
}

.contentLayer .buttonWrap {
    display: inline-block;
    position: absolute;
    left: calc(var(--btn-center-x) - var(--btn-width) / 2);
    bottom: 0;
    transition: 0.2s;
}

.contentLayer .buttonWrap:hover {
    filter: drop-shadow(0 0 20px #5BDCFF);
}

.contentLayer .bottomButton {
    width: var(--btn-width);
    outline: none;
    border: none;
    height: 32px;
    pointer-events: auto;
    background-image: linear-gradient(to right, #21AAFF, #2CFBFF);
    color: white;
    clip-path: polygon(
        0 16px,
        13px 0,
        132px 0,
        145px 16px,
        132px 32px,
        13px 32px,
        0 16px
    );
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
