* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --w: 426px;
    --h: 286px;

    /* 纯色阶段: 先用统一色,后面再换成设计稿中的颜色体系 */
    --bg: #0d1117;
    --border: #20c6d8;

    /* fold距左侧距离 */
    --fold-x: 60px;
    /* fold宽度 */
    --fold-w: 306px;
}

body {
    margin: 0;
    height: 100vh;
    background: #05070a;
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, "PingFang SC", "Microsoft YaHei";
    overflow: hidden;
}

.control {
    width: 100px;
    height: 100px;
    background: red;
    margin: 50px auto;
}

.control:hover + .labelWrap {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}