.outerDecorLayer {
    position: absolute;
    inset: 0;
    /* 装饰层在边框层上方,可以遮挡边框 */
    z-index: 20;
}

.outerDecorLayer .rectangle {
    top: calc(var(--leftRail-top-height) + 1px);
    /* Tips: 这里给边框设置left: 0,给小矩形设置left: -3px,是为了统一坐标系,以边框为x = 0处 */
    left: -3px;
    width: 4px;
    height: 7px;
}

.outerDecorLayer .rightTrapezoid {
    position: absolute;
    /* TODO: 4. 需要这个梯形的渐变 */
    background: var(--border);
    top: 0;
    /* 右侧梯形需要完全盖住6px的右边框 */
    right: -14px;
    width: 14px;
    height: 123px;
    /* TODO: 5. 这里的裁剪也是手动测量的,需要调整 */
    clip-path: polygon(
        0px 0px,
        14px 15px,
        14px 108px,
        0px 123px
    );
}

.outerDecorLayer .rightBar {
    position: absolute;
    background: var(--border);
    top: 110px;
    right: -6px;
    bottom: 0;
    width: 6px;
}

.outerDecorLayer .stripeChip {
    position: absolute;
    /* TODO: 6. 这里的位置我在设计稿中没有找到,是我自己根据网页效果给的,可能不对,需要和UI确认 */
    top: 8px;
    right: 80px;
    width: 90px;
    height: 6px;
    /* TODO: 7. 这个线性重复渐变实在是没法实现成和UI效果图里一样的了 */
    background: repeating-linear-gradient(
            -40deg,
            transparent 0,
            transparent 1.2px,
            var(--border) 1.2px,
            var(--border) 9.64px
    );
}